* {
    color : black;
    font-family : "Monocraft"
}

*::disabled {
    color : gray;
}


QPushButton {
    color : white; 
    border : none;
}

QPushButton::pressed {
    color : blue; 
    border : none;
}

QPushButton::hover { 
    color : gray;
    border : none;
}

QMenuBar {
    background-color : white
}

QLineEdit {
    background : black;
}

QLineEdit {
    background : black;
}