[Desktop Entry]
Version=2.0
Type=Application
Name=LCE Qt Launcher
Comment=This is a custom MCLCE Launcher written in python and Qt with Freedom and GNU/Linux support in mind.
Exec=/usr/bin/python3 ./laucher.py
Icon=Launcher.png
Terminal=True
StartupNotify=true
Categories=Utility;Minecraft;Launcher;Qt;Games;Python
